body{
	background-image: url("bdome.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-position: center;
  	background-size: cover;
}

.logout{
	padding-left: 15px;
	padding-right: 35px;
	transition-delay: 4s;
}

.logout:hover{
	color: grey;	
	font-size: 17px;
}

.list-group .list-group-item {
  background-color: rgba(0,14,39,.9);;
  border-radius: 3px;
  cursor: move;
  padding-left: 20px
}

.list-group .list-group-item:hover {
  background-color: rgba(0, 73, 142,.5);
}

.list{
	font-size: 22px;
	color: white;
}